
.login-body{
    
    background-color: #DDD8D3;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    height: 85.5vh;
    margin: 0;
} 
.login{
    background-color: #fff;
    
    text-align: center;
    border: 1px solid black;
    padding: 50px 30px;
    
    border-radius: 10px;

    
}
.login h1{
    font-size: 40px;
   
}
.login-form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.login-username{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login-username label{
    font-size: 20px;
}
.login-username input{
    padding: 10px;
    font-size: 20px;
    width: 100%;
   
    border: none;
    outline: none;
    border-bottom: 1.5px solid black;

}
.login-username input::placeholder{
    font-size: 12px;
    font-style: italic;
}
.login-username input:focus{
    outline: none;
}

.login-button button{
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    border-radius:5px ;
    padding: 10px;
    background-color: purple;
    color:#fff;
    font-weight:500;
    border:none;
}
.login-para-login a{
    color: purple;
}
.forget-password{
    padding-top: 10px;
   font-size: 14px;
}