.social-info {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 10px;
}

.social-info-heading {
    font-size: 30px;
}

.social-info-1, .social-info-2, .social-info-3 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-info-1 div, .social-info-3 div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}

.social-info-1 div img, .social-info-3 div img {
    height: 50px;
    width: 50px;
}

.social-info-2 div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.social-info-2 div img {
    height: 50px;
    width: 50px;
}

/* Media Query for small screens */
@media screen and (max-width: 768px) {
  .social-info {
    padding: 15px; 
  }

  .social-info-heading {
    font-size: 30px; 
    text-align: center; 
  }

  .social-info-1, .social-info-2, .social-info-3 {
    flex-direction: column; 
    align-items: center;
    gap: 20px;
  }

  .social-info-1 div, .social-info-2 div, .social-info-3 div {
    font-size: 25px;
    flex-direction: column; 
    align-items: center;
  }

  .social-info-1 div img, .social-info-2 div img, .social-info-3 div img {
    height: 40px;
    width: 40px; 
  }
}
